---
layout: default
title: Downloads
addstyle: <link rel="stylesheet" type="text/css" href="css/downloads.css" media="all" />
---
          <h2>
            <a id="easyhook-27" class="anchor" href="#easyhook-27" aria-hidden="true"><span class="octicon octicon-link"></span></a>EasyHook 2.7 Releases</h2>

            <p>EasyHook 2.7 brings support for .NET 4.0, Visual Studio 2013/2015 and no longer requires assemblies to be registered into the Global Assembly Cache (GAC) for remote injection (although GAC registration is still supported).</p>

            <p>The <code>EasyHook.IEntryPoint</code> supports method overloads for the constructor and Run() injection entry point. A matching constructor and Run() method pair must be defined for each overloaded set of parameters.</p>

            <p>COM interfaces are now easier to hook with the <a href="{{ site.github.url }}/api/html/T_EasyHook_COMClassInfo.htm" title="COMClassInfo Class"><code>EasyHook.COMClassInfo</code></a> class that simplifies retrieval of method addresses from COM interfaces.</p>

            <p>Please report any bugs in the <a href="https://github.com/EasyHook/EasyHook/issues" target="_blank">issue tracker</a>.</p>

            <p>Note: before extracting the ZIP file you may need to "Unblock" it if downloaded using Internet Explorer. See <a href="http://stackoverflow.com/a/8268636/323899" target="_blank">http://stackoverflow.com/a/8268636/323899</a></p>
			
            <h3>NuGet Packages</h3>
            <p>EasyHook is available on NuGet for <a href="{{ site.github.url }}/redirect.html?url=https://www.nuget.org/packages/EasyHook/" target="_blank">.NET projects</a>, and <a href="{{ site.github.url }}/redirect.html?url=https://www.nuget.org/packages/EasyHookNativePackage/" target="_blank">native unmanaged projects</a>.</p>
            
{% for release in site.releases reversed %}
    {% if forloop.first == true %}<a name="latest" class="anchor" href="#latest" ></a>{% endif %}<a name="{{ release.version }}" class="anchor" href="#{{ release.version }}" ></a>
    <h3>v{{ release.version }} ({{ release.date | date: '%B %d, %Y' }}):</h3>
    {% if release.downloads %}
        {% if release.highlight %}{{ release.highlight | markdownify }}{% endif %}
        {% if forloop.first == true %}
{% include medrectad.html %}
            <ul class="release-downloads">
        {% else %}
            <ul class="release-downloads release-downloads-noad">
        {% endif %}
        {% for download in release.downloads %}
            <li><a href="{% if download.type != "link" %}{{ site.github.url }}/download.html?url={% endif %}{{ download.url }}" class="download-{{ download.type }}" rel="nofollow"><small class="filesize">{{ download.size }}</small><span>{{ download.title }}</span></a></li>
        {% endfor %}
            </ul>
        {% assign c = release.content | strip_newlines %}
    {% endif %}
    {% if c != '' %}
      {{ release.content | markdownify }}
    {% endif %}
{% endfor %}

            <h2>
                <a id="bugs-and-questions" class="anchor" href="#bugs-and-questions" aria-hidden="true"><span class="octicon octicon-link"></span></a>Bug reports or questions
            </h2>

            <p>Reporting bugs is the only way to get them fixed and help other users of the library!</p>

            <p>Please report issues and ask questions at: <a href="https://github.com/EasyHook/EasyHook/issues">https://github.com/EasyHook/EasyHook/issues</a></p>

            <h2>
                <a id="donations" class="anchor" href="#donations" aria-hidden="true"><span class="octicon octicon-link"></span></a>Donations
            </h2>
            Donations are greatly appreciated. If you find EasyHook useful, or are feeling generous and would like to make a donation to this project, we accept donation's via PayPal :)</p>

            <p><a title="Donate" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=spazzarama%40gmail%2ecom&amp;lc=AU&amp;item_name=EasyHook&amp;currency_code=USD&amp;bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted" target="_blank"><img src="https://www.paypalobjects.com/en_AU/i/btn/btn_donateCC_LG.gif" alt="Donate" width="99" height="47"></a></p>
