        <footer>
          {%if page.comments %}
          <div id="disqus_thread"></div>
          <script>
              var disqus_config = function () {
                  this.page.url = 'https://easyhook.github.io{{ page.url }}';
                  this.page.identifier = '{{ page.id }}';
              };
              (function() {  // DON'T EDIT BELOW THIS LINE
                  var d = document, s = d.createElement('script');
                  
                  s.src = '//easyhook.disqus.com/embed.js';
                  
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
          {% endif %}        
          <div class="footer-col xfooter-col-2">
			<ul class="social-media-list">
              <li>
              <a href="https://gitter.im/EasyHook/EasyHook?utm_source=badge&amp;utm_medium=badge&amp;utm_campaign=pr-badge&amp;utm_content=badge"><img src="https://camo.githubusercontent.com/03b4e90ae60d987ff270b1b0075cad04bed03e68/68747470733a2f2f6261646765732e6769747465722e696d2f45617379486f6f6b2f45617379486f6f6b2e737667" alt="Join the chat at https://gitter.im/EasyHook/EasyHook" data-canonical-src="https://badges.gitter.im/EasyHook/EasyHook.svg" style="max-width:100%;"></a>
              </li>
			</ul>
		  </div>
          <div class="footer-col xfooter-col-2">
			<ul class="social-media-list">
			  {% if site.github_username %}
			  <li>
				{% include icon-github.html username=site.github_username %}
			  </li>
			  {% endif %}

			  {% if site.twitter_username %}
			  <li>
				{% include icon-twitter.html username=site.twitter_username %}
			  </li>
			  {% endif %}
			</ul>
		  </div>
          <div class="footer-col xfooter-col-3">
            Copyright 2016 Justin Stenning Tactile theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.
          </div>		  
        </footer>
          <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-66127710-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>